.bg-black{
	background-color: #000000 !Important;
}

.bg-green{
	background-color: #468966 !Important;
}

.bg-dark-green{
	background-color: #12403E !Important;
}

.bg-scarlet{
	background-color: #721825 !Important;
}

.bg-dark-blue{
	background-color: #1D394A !Important;
}

.bg-light-gray{
	background-color: #E5E5E5 !Important;
}

.bg-lemon{
	background-color: #C2DDC7 !Important;
}

.bg-sky{
	background-color: #9BE0DA !Important;
}

.bg-mostaza{
	background-color: rgb(242,178,28) !Important;
}

.text-dark-green{
	color: #12403E !Important;
}

.mt-1em{
	margin-top: 1em;
}

.mt-2em{
	margin-top: 2em;
}

.mt-3em{
	margin-top: 3em;
}

.mt-4em{
	margin-top: 4em;
}

.mt-5em{
	margin-top: 5em;
}

.h-1em{
	height: 1em;
}

.h-2em{
	height: 2em;
}

.h-3em{
	height: 3em;
}

.h-4em{
	height: 4em;
}

.h-5em{
	height: 5em;
}

.h-6em{
	height: 6em;
}

/*.dropdown:hover>.dropdown-menu {
  display: block;
}*/

.dropdown-submenu {
    position: relative;
    margin-left: 160px;
    margin-top: -40px;
}

.text-adjust{
	word-break: break-all;
	word-wrap: break-word;
}