<span style='color: #000'>186 frames</span>	<span style='color: #900'>7,424 KB</span>	<span style='color: #090'>673.75 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />